In [1]:
import pandas as pd

path = r"C:\Users\Stichting GeoFort\Downloads\laptop_prices.csv"

In [2]:
df = pd.read_csv(path, encoding='ISO-8859-1')

In [3]:
df

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_usd
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1473.659
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,988.834
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,632.500
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2791.195
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1983.960
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,701.800
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1648.900
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,251.900
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,840.400
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,405.900

In [6]:
df.query('Price_usd > 1200')

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_usd
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1473.659
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2791.195
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1983.960
6,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2353.967
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1274.570
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,1274,Asus,Rog G752VT-GC073T,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,16GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 970M,Windows 10,4.0kg,2090.000
1259,1277,MSI,GE62 Apache,Gaming,15.6,Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 960M,Windows 10,2.4kg,1351.900
1271,1289,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1648.900
1285,1303,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1648.900
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1648.900

In [5]:
df.columns

Index(['laptop_ID', 'Company', 'Product', 'TypeName', 'Inches',
       'ScreenResolution', 'Cpu', 'Ram', 'Memory', 'Gpu', 'OpSys', 'Weight',
       'Price_usd'],
      dtype='object')

In [10]:
df.query('Price_usd > 1200 and Company == "Apple" and Ram == "8GB"')

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_usd
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1473.659
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1983.960
7,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1274.570
14,15,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M m3 1.2GHz,8GB,256GB SSD,Intel HD Graphics 615,macOS,0.92kg,1388.640
15,16,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1670.405
26,27,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,1208.900
45,46,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.0GHz,8GB,256GB SSD,Intel Iris Graphics 540,macOS,1.37kg,1560.900
81,83,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,macOS,0.92kg,1661.000
249,254,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2244.000
270,275,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.9GHz,8GB,512GB SSD,Intel Iris Graphics 550,macOS,1.37kg,2154.790
794,803,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8GB,512GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1281.500
1069,1084,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 515,Mac OS X,0.920kg,1430.000
1193,1211,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1279.300
1210,1228,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8GB,512GB Flash Storage,Intel HD Graphics 515,Mac OS X,0.920kg,1406.900

In [11]:
import pandasql as psql

In [12]:
psql.sqldf("SELECT * FROM df WHERE Company = 'Apple'")

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_usd
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1473.659
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,988.834
2,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2791.195
3,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1983.960
4,7,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.2GHz,16GB,256GB Flash Storage,Intel Iris Pro Graphics,Mac OS X,2.04kg,2353.967
5,8,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,1274.570
6,13,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.8GHz,16GB,256GB SSD,AMD Radeon Pro 555,macOS,1.83kg,2683.967
7,15,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M m3 1.2GHz,8GB,256GB SSD,Intel HD Graphics 615,macOS,0.92kg,1388.640
8,16,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,256GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1670.405
9,18,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.9GHz,16GB,512GB SSD,AMD Radeon Pro 560,macOS,1.83kg,3143.800
10,27,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,1208.900
11,35,Apple,MacBook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.6GHz,8GB,256GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.35kg,1097.800
12,46,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.0GHz,8GB,256GB SSD,Intel Iris Graphics 540,macOS,1.37kg,1560.900
13,83,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core i5 1.3GHz,8GB,512GB SSD,Intel HD Graphics 615,macOS,0.92kg,1661.000
14,254,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,512GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,2244.000
15,275,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.9GHz,8GB,512GB SSD,Intel Iris Graphics 550,macOS,1.37kg,2154.790
16,803,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8GB,512GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1281.500
17,1084,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 515,Mac OS X,0.920kg,1430.000
18,1211,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.1GHz,8GB,256GB Flash Storage,Intel HD Graphics 5300,Mac OS X,0.920kg,1279.300
19,1228,Apple,"MacBook 12""",Ultrabook,12.0,IPS Panel Retina Display 2304x1440,Intel Core M 1.2GHz,8GB,512GB Flash Storage,Intel HD Graphics 515,Mac OS X,0.920kg,1406.900
20,1252,Apple,MacBook Air,Ultrabook,11.6,1366x768,Intel Core i5 1.6GHz,4GB,256GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.08kg,1054.900

In [13]:
path_2 = r"C:\Users\Stichting GeoFort\Downloads\WorldContinents.csv"

In [15]:
df_2 = pd.read_csv(path_2, encoding= "ISO-8859-1")

In [16]:
df_2

    continent       sub_region            country code_3     Unnamed: 4
0        Asia    Southern Asia        Afghanistan    AFG     6,900,000
1      Europe  Northern Europe      Ã…land Islands    ALA     5,500,000
2      Europe  Southern Europe            Albania    ALB     3,300,000
3      Africa  Northern Africa            Algeria    DZA     9,500,000
4     Oceania        Polynesia     American Samoa    ASM        55,000
..        ...              ...                ...    ...            ...
235   Oceania        Polynesia  Wallis and Futuna    WLF    15,900,000
236    Africa  Northern Africa     Western Sahara    ESH       597,000
237      Asia     Western Asia              Yemen    YEM     5,500,000
238    Africa   Eastern Africa             Zambia    ZMB   213,000,000
239    Africa   Eastern Africa           Zimbabwe    ZWE    19,100,000

[240 rows x 5 columns]

In [18]:
df_2 = df_2.rename(columns={'Unnamed: 4': 'Population'})

In [19]:
df_2

    continent       sub_region            country code_3     Population
0        Asia    Southern Asia        Afghanistan    AFG     6,900,000
1      Europe  Northern Europe      Ã…land Islands    ALA     5,500,000
2      Europe  Southern Europe            Albania    ALB     3,300,000
3      Africa  Northern Africa            Algeria    DZA     9,500,000
4     Oceania        Polynesia     American Samoa    ASM        55,000
..        ...              ...                ...    ...            ...
235   Oceania        Polynesia  Wallis and Futuna    WLF    15,900,000
236    Africa  Northern Africa     Western Sahara    ESH       597,000
237      Asia     Western Asia              Yemen    YEM     5,500,000
238    Africa   Eastern Africa             Zambia    ZMB   213,000,000
239    Africa   Eastern Africa           Zimbabwe    ZWE    19,100,000

[240 rows x 5 columns]

In [20]:
df_world = pd.read_csv(path_2, index_col = 'country', encoding= "ISO-8859-1")

df_world

                  continent       sub_region code_3     Unnamed: 4
country
Afghanistan            Asia    Southern Asia    AFG     6,900,000
Ã…land Islands        Europe  Northern Europe    ALA     5,500,000
Albania              Europe  Southern Europe    ALB     3,300,000
Algeria              Africa  Northern Africa    DZA     9,500,000
American Samoa      Oceania        Polynesia    ASM        55,000
...                     ...              ...    ...            ...
Wallis and Futuna   Oceania        Polynesia    WLF    15,900,000
Western Sahara       Africa  Northern Africa    ESH       597,000
Yemen                  Asia     Western Asia    YEM     5,500,000
Zambia               Africa   Eastern Africa    ZMB   213,000,000
Zimbabwe             Africa   Eastern Africa    ZWE    19,100,000

[240 rows x 4 columns]

In [22]:
df_world = df_world.rename(columns={'Unnamed: 4': 'Population'})

df_world

                  continent       sub_region code_3     Population
country
Afghanistan            Asia    Southern Asia    AFG     6,900,000
Ã…land Islands        Europe  Northern Europe    ALA     5,500,000
Albania              Europe  Southern Europe    ALB     3,300,000
Algeria              Africa  Northern Africa    DZA     9,500,000
American Samoa      Oceania        Polynesia    ASM        55,000
...                     ...              ...    ...            ...
Wallis and Futuna   Oceania        Polynesia    WLF    15,900,000
Western Sahara       Africa  Northern Africa    ESH       597,000
Yemen                  Asia     Western Asia    YEM     5,500,000
Zambia               Africa   Eastern Africa    ZMB   213,000,000
Zimbabwe             Africa   Eastern Africa    ZWE    19,100,000

[240 rows x 4 columns]

In [23]:
df_world.loc['Albania']

continent              Europe
sub_region    Southern Europe
code_3                    ALB
Population         3,300,000
Name: Albania, dtype: object

In [42]:
df_pop = pd.read_csv(path_2, encoding= "ISO-8859-1")

df_pop.columns

Index(['continent', 'sub_region', 'country', 'code_3', 'Unnamed: 4'], dtype='object')

In [61]:
df_pop = df_pop.sort_values(by=['continent','sub_region'])

In [62]:
df_pop.set_index(['continent','sub_region'], inplace=True)

KeyError: "None of ['continent', 'sub_region'] are in the columns"

In [46]:
df_pop

                                    country code_3     Unnamed: 4
continent sub_region
Africa    Eastern Africa            Burundi    BDI   128,000,000
          Eastern Africa            Comoros    COM       870,000
          Eastern Africa           Djibouti    DJI       988,000
          Eastern Africa            Eritrea    ERI     5,100,000
          Eastern Africa           Ethiopia    ETH    16,700,000
...                                     ...    ...            ...
Oceania   Polynesia                   Samoa    WSM    26,000,000
          Polynesia                 Tokelau    TKL     2,000,000
          Polynesia                   Tonga    TON    11,500,000
          Polynesia                  Tuvalu    TUV    15,000,000
          Polynesia       Wallis and Futuna    WLF    15,900,000

[240 rows x 3 columns]

In [49]:
df_pop.loc['Africa','Eastern Africa']

                                               country code_3     Unnamed: 4
continent sub_region
Africa    Eastern Africa                       Burundi    BDI   128,000,000
          Eastern Africa                       Comoros    COM       870,000
          Eastern Africa                      Djibouti    DJI       988,000
          Eastern Africa                       Eritrea    ERI     5,100,000
          Eastern Africa                      Ethiopia    ETH    16,700,000
          Eastern Africa                         Kenya    KEN    53,800,000
          Eastern Africa                    Madagascar    MDG     4,300,000
          Eastern Africa                        Malawi    MWI    25,800,000
          Eastern Africa                     Mauritius    MUS     1,300,000
          Eastern Africa                       Mayotte    MYT     4,800,000
          Eastern Africa                    Mozambique    MOZ    51,600,000
          Eastern Africa                       RÃ©union    REU       859,000
          Eastern Africa                        Rwanda    RWA    17,500,000
          Eastern Africa                    Seychelles    SYC        98,000
          Eastern Africa                       Somalia    SOM    19,100,000
          Eastern Africa                   South Sudan    SSD    11,900,000
          Eastern Africa  Tanzania, United Republic of    TZA    59,700,000
          Eastern Africa                        Uganda    UGA    45,700,000
          Eastern Africa                        Zambia    ZMB   213,000,000
          Eastern Africa                      Zimbabwe    ZWE    19,100,000

In [50]:
df_2

    continent       sub_region            country code_3     Population
0        Asia    Southern Asia        Afghanistan    AFG     6,900,000
1      Europe  Northern Europe      Ã…land Islands    ALA     5,500,000
2      Europe  Southern Europe            Albania    ALB     3,300,000
3      Africa  Northern Africa            Algeria    DZA     9,500,000
4     Oceania        Polynesia     American Samoa    ASM        55,000
..        ...              ...                ...    ...            ...
235   Oceania        Polynesia  Wallis and Futuna    WLF    15,900,000
236    Africa  Northern Africa     Western Sahara    ESH       597,000
237      Asia     Western Asia              Yemen    YEM     5,500,000
238    Africa   Eastern Africa             Zambia    ZMB   213,000,000
239    Africa   Eastern Africa           Zimbabwe    ZWE    19,100,000

[240 rows x 5 columns]

In [53]:
df_2.set_index('country', inplace=True)

df_2

                  continent       sub_region code_3     Population
country
Afghanistan            Asia    Southern Asia    AFG     6,900,000
Ã…land Islands        Europe  Northern Europe    ALA     5,500,000
Albania              Europe  Southern Europe    ALB     3,300,000
Algeria              Africa  Northern Africa    DZA     9,500,000
American Samoa      Oceania        Polynesia    ASM        55,000
...                     ...              ...    ...            ...
Wallis and Futuna   Oceania        Polynesia    WLF    15,900,000
Western Sahara       Africa  Northern Africa    ESH       597,000
Yemen                  Asia     Western Asia    YEM     5,500,000
Zambia               Africa   Eastern Africa    ZMB   213,000,000
Zimbabwe             Africa   Eastern Africa    ZWE    19,100,000

[240 rows x 4 columns]

In [55]:
df_2.loc['Wallis and Futuna']

continent          Oceania
sub_region       Polynesia
code_3                 WLF
Population     15,900,000
Name: Wallis and Futuna, dtype: object

In [60]:
df_2.reset_index(inplace=True)

In [57]:
df_2.set_index('continent', inplace=True)

In [59]:
df_2.loc['Asia']

,country,sub_region,code_3,Population
continent,,,,
Asia,Afghanistan,Southern Asia,AFG,"6,900,000"
Asia,Armenia,Western Asia,ARM,"45,700,000"
Asia,Azerbaijan,Western Asia,AZE,"10,000,000"
Asia,Bahrain,Western Asia,BHR,"1,900,000"
Asia,Bangladesh,Southern Asia,BGD,"2,500,000"
Asia,Bhutan,Southern Asia,BTN,"771,000"
Asia,Brunei Darussalam,South-Eastern Asia,BRN,"9,400,000"
Asia,Cambodia,South-Eastern Asia,KHM,"2,200,000"
Asia,China,Eastern Asia,CHN,"1,412,000,000"
Asia,Cyprus,Western Asia,CYP,"1,200,000"
Asia,Georgia,Western Asia,GEO,"5,400,000"
Asia,Hong Kong,Eastern Asia,HKG,"7,500,000"
Asia,India,Southern Asia,IND,"1,400,000,000"
Asia,Indonesia,South-Eastern Asia,IDN,"4,600,000"
Asia,Iran (Islamic Republic of),Southern Asia,IRN,"84,000,000"
Asia,Iraq,Western Asia,IRQ,"89,000,000"
Asia,Israel,Western Asia,ISR,"9,300,000"
Asia,Japan,Eastern Asia,JPN,"18,000,000"
Asia,Jordan,Western Asia,JOR,"10,300,000"
Asia,Kazakhstan,Central Asia,KAZ,"22,000,000"
Asia,Korea (Democratic People's Republic of),Eastern Asia,PRK,"38,000,000"
Asia,Korea (Republic of),Eastern Asia,KOR,"51,600,000"
Asia,Kuwait,Western Asia,KWT,"8,300,000"
Asia,Kyrgyzstan,Central Asia,KGZ,"6,600,000"
Asia,Lao People's Democratic Republic,South-Eastern Asia,LAO,"7,300,000"
Asia,Lebanon,Western Asia,LBN,"6,800,000"
Asia,Macao,Eastern Asia,MAC,"650,000"
Asia,Malaysia,South-Eastern Asia,MYS,"53,800,000"
Asia,Maldives,Southern Asia,MDV,"540,000"
Asia,Mongolia,Eastern Asia,MNG,"5,000,000"
Asia,Myanmar,South-Eastern Asia,MMR,"54,000,000"
Asia,Nepal,Southern Asia,NPL,"44,000,000"
Asia,Oman,Western Asia,OMN,"5,000,000"
Asia,Pakistan,Southern Asia,PAK,"331,000,000"
Asia,"Palestine, State of",Western Asia,PSE,"5,100,000"
Asia,Philippines,South-Eastern Asia,PHL,"13,100,000"
Asia,Qatar,Western Asia,QAT,"3,500,000"
Asia,Saudi Arabia,Western Asia,SAU,"6,600,000"
Asia,Singapore,South-Eastern Asia,SGP,"5,900,000"
Asia,Sri Lanka,Southern Asia,LKA,"33,000,000"
Asia,Syrian Arab Republic,Western Asia,SYR,"2,800,000"
Asia,"Taiwan, Province of China",Eastern Asia,TWN,"34,000,000"
Asia,Tajikistan,Central Asia,TJK,"9,500,000"
Asia,Thailand,South-Eastern Asia,THA,"69,800,000"
Asia,Timor-Leste,South-Eastern Asia,TLS,"1,300,000"
Asia,Turkey,Western Asia,TUR,"84,000,000"
Asia,Turkmenistan,Central Asia,TKM,"6,000,000"
Asia,United Arab Emirates,Western Asia,ARE,"9,900,000"
Asia,Uzbekistan,Central Asia,UZB,"6,000,000"
Asia,Viet Nam,South-Eastern Asia,VNM,"97,000,000"
Asia,Yemen,Western Asia,YEM,"5,500,000"

In [63]:
df_2 = df_pop.sort_values(by=['continent','sub_region'])

In [64]:
df_2.set_index(['continent','sub_region'], inplace=True)

KeyError: "None of ['continent', 'sub_region'] are in the columns"

In [65]:
df_world = pd.read_csv(path_2,encoding= "ISO-8859-1")

In [66]:
df_world = df_world.sort_values(by=['continent','sub_region'])

In [67]:
df_world.set_index(['continent','sub_region'], inplace=True)

In [68]:
df_world

                                    country code_3     Unnamed: 4
continent sub_region
Africa    Eastern Africa            Burundi    BDI   128,000,000
          Eastern Africa            Comoros    COM       870,000
          Eastern Africa           Djibouti    DJI       988,000
          Eastern Africa            Eritrea    ERI     5,100,000
          Eastern Africa           Ethiopia    ETH    16,700,000
...                                     ...    ...            ...
Oceania   Polynesia                   Samoa    WSM    26,000,000
          Polynesia                 Tokelau    TKL     2,000,000
          Polynesia                   Tonga    TON    11,500,000
          Polynesia                  Tuvalu    TUV    15,000,000
          Polynesia       Wallis and Futuna    WLF    15,900,000

[240 rows x 3 columns]

In [69]:
df_world.loc['Asia','Southern Asia']

                                            country code_3       Unnamed: 4
continent sub_region
Asia      Southern Asia                 Afghanistan    AFG       6,900,000
          Southern Asia                  Bangladesh    BGD       2,500,000
          Southern Asia                      Bhutan    BTN         771,000
          Southern Asia                       India    IND   1,400,000,000
          Southern Asia  Iran (Islamic Republic of)    IRN      84,000,000
          Southern Asia                    Maldives    MDV         540,000
          Southern Asia                       Nepal    NPL      44,000,000
          Southern Asia                    Pakistan    PAK     331,000,000
          Southern Asia                   Sri Lanka    LKA      33,000,000

In [73]:
df_pop = pd.read_csv(path_2, encoding= "ISO-8859-1")

In [74]:
df_pop.set_index(['continent'], inplace = True)

In [77]:
df_pop.sort_index(inplace=True)

In [78]:
df_pop

                sub_region           country code_3    Unnamed: 4
continent
Africa     Northern Africa             Libya    LBY    6,900,000
Africa      Eastern Africa         Mauritius    MUS    1,300,000
Africa      Western Africa        Mauritania    MRT   83,200,000
Africa      Western Africa              Mali    MLI   30,000,000
Africa      Eastern Africa            Malawi    MWI   25,800,000
...                    ...               ...    ...           ...
Oceania         Micronesia              Guam    GUM    2,800,000
Oceania          Polynesia    American Samoa    ASM       55,000
Oceania          Polynesia           Tokelau    TKL    2,000,000
Oceania          Polynesia              Niue    NIU    2,400,000
Oceania          Polynesia  French Polynesia    PYF   40,000,000

[240 rows x 4 columns]

In [81]:
df_pop.reset_index(inplace=True)

In [84]:
df_pop.set_index(['continent','sub_region'], inplace=True)

AttributeError: 'NoneType' object has no attribute 'sort_index'

In [86]:
df_pop.sort_index(level='continent', inplace=True)

In [87]:
df_pop

                                   country code_3     Unnamed: 4
continent sub_region
Africa    Eastern Africa         Mauritius    MUS     1,300,000
          Eastern Africa            Malawi    MWI    25,800,000
          Eastern Africa        Madagascar    MDG     4,300,000
          Eastern Africa            Zambia    ZMB   213,000,000
          Eastern Africa             Kenya    KEN    53,800,000
...                                    ...    ...            ...
Oceania   Polynesia               Pitcairn    PCN    50,000,000
          Polynesia         American Samoa    ASM        55,000
          Polynesia                Tokelau    TKL     2,000,000
          Polynesia                   Niue    NIU     2,400,000
          Polynesia       French Polynesia    PYF    40,000,000

[240 rows x 3 columns]

In [88]:
df_pop.swaplevel('continent','sub_region')

                                   country code_3     Unnamed: 4
sub_region     continent
Eastern Africa Africa            Mauritius    MUS     1,300,000
               Africa               Malawi    MWI    25,800,000
               Africa           Madagascar    MDG     4,300,000
               Africa               Zambia    ZMB   213,000,000
               Africa                Kenya    KEN    53,800,000
...                                    ...    ...            ...
Polynesia      Oceania            Pitcairn    PCN    50,000,000
               Oceania      American Samoa    ASM        55,000
               Oceania             Tokelau    TKL     2,000,000
               Oceania                Niue    NIU     2,400,000
               Oceania    French Polynesia    PYF    40,000,000

[240 rows x 3 columns]

In [89]:
path_tech = r"C:\Users\Stichting GeoFort\Downloads\tech_price.xlsx"

In [100]:
tech = pd.read_excel(path_tech, header=[0,1], index_col=[0,1])

In [101]:
tech

                   USD                 EUR
company           open high low close open high low close
2023-01-01 Apple    89   26  68    69   37   56  11    25
           Google   66   71  26    83   96   68  91    11
           Amazon   12   43  97    75   25   25  90    43
2023-01-02 Apple    54   49  77    49   68   44  85    68
           Google   84   92  55    90   51   50  59    68
           Amazon   41   86  13    19   41   36  50    26
2023-01-03 Apple    67   47  46    70   41   62  72    49
           Google   60   70  54    71   78   47  12    57
           Amazon   71   15  47    53   86   44  68    33
2023-01-04 Apple    56   50  54    83   59   36  45    19
           Google   36   77  27    94   62   13  66    90
           Amazon   64   97  64    56   48   57  45    50
2023-01-05 Apple    34   45  60    84   24   49  63    54
           Google   69   92  14    63   21   85  80    87
           Amazon   63   75  27    43   91   63  95    30

In [102]:
tech.stack()

C:\Users\Stichting GeoFort\AppData\Local\Temp\ipykernel_21568\1623489563.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  tech.stack()

                           USD  EUR
                  company
2023-01-01 Apple  close     69   25
                  high      26   56
                  low       68   11
                  open      89   37
           Google close     83   11
                  high      71   68
                  low       26   91
                  open      66   96
           Amazon close     75   43
                  high      43   25
                  low       97   90
                  open      12   25
2023-01-02 Apple  close     49   68
                  high      49   44
                  low       77   85
                  open      54   68
           Google close     90   68
                  high      92   50
                  low       55   59
                  open      84   51
           Amazon close     19   26
                  high      86   36
                  low       13   50
                  open      41   41
2023-01-03 Apple  close     70   49
                  high      47   62
                  low       46   72
                  open      67   41
           Google close     71   57
                  high      70   47
                  low       54   12
                  open      60   78
           Amazon close     53   33
                  high      15   44
                  low       47   68
                  open      71   86
2023-01-04 Apple  close     83   19
                  high      50   36
                  low       54   45
                  open      56   59
           Google close     94   90
                  high      77   13
                  low       27   66
                  open      36   62
           Amazon close     56   50
                  high      97   57
                  low       64   45
                  open      64   48
2023-01-05 Apple  close     84   54
                  high      45   49
                  low       60   63
                  open      34   24
           Google close     63   87
                  high      92   85
                  low       14   80
                  open      69   21
           Amazon close     43   30
                  high      75   63
                  low       27   95
                  open      63   91

In [103]:
tech.unstack()

              USD                                                              \
company      open                high                 low               close
           Amazon Apple Google Amazon Apple Google Amazon Apple Google Amazon
2023-01-01     12    89     66     43    26     71     97    68     26     75
2023-01-02     41    54     84     86    49     92     13    77     55     19
2023-01-03     71    67     60     15    47     70     47    46     54     53
2023-01-04     64    56     36     97    50     77     64    54     27     56
2023-01-05     63    34     69     75    45     92     27    60     14     43

            ...    EUR                                                       \
company     ...   open   high                 low               close
            ... Google Amazon Apple Google Amazon Apple Google Amazon Apple
2023-01-01  ...     96     25    56     68     90    11     91     43    25
2023-01-02  ...     51     36    44     50     50    85     59     26    68
2023-01-03  ...     78     44    62     47     68    72     12     33    49
2023-01-04  ...     62     57    36     13     45    45     66     50    19
2023-01-05  ...     21     63    49     85     95    63     80     30    54


company
           Google
2023-01-01     11
2023-01-02     68
2023-01-03     57
2023-01-04     90
2023-01-05     87

[5 rows x 24 columns]

In [104]:
tech

                   USD                 EUR
company           open high low close open high low close
2023-01-01 Apple    89   26  68    69   37   56  11    25
           Google   66   71  26    83   96   68  91    11
           Amazon   12   43  97    75   25   25  90    43
2023-01-02 Apple    54   49  77    49   68   44  85    68
           Google   84   92  55    90   51   50  59    68
           Amazon   41   86  13    19   41   36  50    26
2023-01-03 Apple    67   47  46    70   41   62  72    49
           Google   60   70  54    71   78   47  12    57
           Amazon   71   15  47    53   86   44  68    33
2023-01-04 Apple    56   50  54    83   59   36  45    19
           Google   36   77  27    94   62   13  66    90
           Amazon   64   97  64    56   48   57  45    50
2023-01-05 Apple    34   45  60    84   24   49  63    54
           Google   69   92  14    63   21   85  80    87
           Amazon   63   75  27    43   91   63  95    30

In [105]:
df_pop = pd.read_csv(path_2, encoding= "ISO-8859-1")

In [106]:
df_pop

    continent       sub_region            country code_3     Unnamed: 4
0        Asia    Southern Asia        Afghanistan    AFG     6,900,000
1      Europe  Northern Europe      Ã…land Islands    ALA     5,500,000
2      Europe  Southern Europe            Albania    ALB     3,300,000
3      Africa  Northern Africa            Algeria    DZA     9,500,000
4     Oceania        Polynesia     American Samoa    ASM        55,000
..        ...              ...                ...    ...            ...
235   Oceania        Polynesia  Wallis and Futuna    WLF    15,900,000
236    Africa  Northern Africa     Western Sahara    ESH       597,000
237      Asia     Western Asia              Yemen    YEM     5,500,000
238    Africa   Eastern Africa             Zambia    ZMB   213,000,000
239    Africa   Eastern Africa           Zimbabwe    ZWE    19,100,000

[240 rows x 5 columns]

In [111]:
c

continent              Africa Americas         Asia       Europe   Oceania
country
Afghanistan               NaN      NaN   6,900,000           NaN       NaN
Albania                   NaN      NaN          NaN   3,300,000        NaN
Algeria            9,500,000       NaN          NaN          NaN       NaN
American Samoa            NaN      NaN          NaN          NaN   55,000
Andorra                   NaN      NaN          NaN      77,000        NaN
...                       ...      ...          ...          ...       ...
Western Sahara       597,000       NaN          NaN          NaN       NaN
Yemen                     NaN      NaN   5,500,000           NaN       NaN
Zambia           213,000,000       NaN          NaN          NaN       NaN
Zimbabwe          19,100,000       NaN          NaN          NaN       NaN
Ã…land Islands             NaN      NaN          NaN   5,500,000        NaN

[240 rows x 5 columns]

In [113]:
df_pop.pivot(index='country', columns=['continent', 'sub_region'], values='Unnamed: 4')

continent               Asia          Europe                          Africa  \
sub_region     Southern Asia Northern Europe Southern Europe Northern Africa
country
Afghanistan       6,900,000              NaN             NaN             NaN
Albania                  NaN             NaN      3,300,000              NaN
Algeria                  NaN             NaN             NaN      9,500,000
American Samoa           NaN             NaN             NaN             NaN
Andorra                  NaN             NaN         77,000              NaN
...                      ...             ...             ...             ...
Western Sahara           NaN             NaN             NaN        597,000
Yemen                    NaN             NaN             NaN             NaN
Zambia                   NaN             NaN             NaN             NaN
Zimbabwe                 NaN             NaN             NaN             NaN
Ã…land Islands            NaN      5,500,000              NaN             NaN

continent        Oceania        Africa  Americas                       Asia  \
sub_region     Polynesia Middle Africa Caribbean South America Western Asia
country
Afghanistan          NaN           NaN       NaN           NaN          NaN
Albania              NaN           NaN       NaN           NaN          NaN
Algeria              NaN           NaN       NaN           NaN          NaN
American Samoa   55,000            NaN       NaN           NaN          NaN
Andorra              NaN           NaN       NaN           NaN          NaN
...                  ...           ...       ...           ...          ...
Western Sahara       NaN           NaN       NaN           NaN          NaN
Yemen                NaN           NaN       NaN           NaN   5,500,000
Zambia               NaN           NaN       NaN           NaN          NaN
Zimbabwe             NaN           NaN       NaN           NaN          NaN
Ã…land Islands        NaN           NaN       NaN           NaN          NaN

continent                        Oceania  ...        Americas         Africa  \
sub_region     Australia and New Zealand  ... Central America Western Africa
country                                   ...
Afghanistan                          NaN  ...             NaN            NaN
Albania                              NaN  ...             NaN            NaN
Algeria                              NaN  ...             NaN            NaN
American Samoa                       NaN  ...             NaN            NaN
Andorra                              NaN  ...             NaN            NaN
...                                  ...  ...             ...            ...
Western Sahara                       NaN  ...             NaN            NaN
Yemen                                NaN  ...             NaN            NaN
Zambia                               NaN  ...             NaN            NaN
Zimbabwe                             NaN  ...             NaN            NaN
Ã…land Islands                        NaN  ...             NaN            NaN

continent              Americas          Africa               Asia  \
sub_region     Northern America Southern Africa South-Eastern Asia
country
Afghanistan                 NaN             NaN                NaN
Albania                     NaN             NaN                NaN
Algeria                     NaN             NaN                NaN
American Samoa              NaN             NaN                NaN
Andorra                     NaN             NaN                NaN
...                         ...             ...                ...
Western Sahara              NaN             NaN                NaN
Yemen                       NaN             NaN                NaN
Zambia                      NaN             NaN                NaN
Zimbabwe                    NaN             NaN                NaN
Ã…land Islands               NaN             NaN                NaN

continent              Africa         Asia   Oceania                    Asia
sub_region     Eastern Africa Eastern Asia Melanesia Micronesia Central Asia
country
Afghanistan               NaN          NaN       NaN        NaN          NaN
Albania                   NaN          NaN       NaN        NaN          NaN
Algeria                   NaN          NaN       NaN        NaN          NaN
American Samoa            NaN          NaN       NaN        NaN          NaN
Andorra                   NaN          NaN       NaN        NaN          NaN
...                       ...          ...       ...        ...          ...
Western Sahara            NaN          NaN       NaN        NaN          NaN
Yemen                     NaN          NaN       NaN        NaN          NaN
Zambia           213,000,000           NaN       NaN        NaN          NaN
Zimbabwe          19,100,000           NaN       NaN        NaN          NaN
Ã…land Islands             NaN          NaN       NaN        NaN          NaN

[240 rows x 22 columns]